header {
    padding: 37px 0 24px 0;
    background: linear-gradient(#d5d5d5, #FFF, #FFF, #FFF);
    text-align: center;
}

#logo img {
    width: 26%
}

menu {
    padding: 20px 0;
}

menu li {
    font: .7em Tahoma, sans-serif;
    color: #b7b7b7;
    padding: 0 10px 7px 10px;
}

menu li a {
    display: block;
    font: bold .9rem Georgia, serif;
    text-transform: uppercase;
    color: #666;
}

main {
    background: #fff url('mainbg.jpg') repeat-x;
    padding: 20px 0 0 0;
}

#slider {
    height: 340px;
    border: 1px solid #c6c6c6;
    border-radius: 8px;
    background: url('slider1.jpg') center/cover;
}

h1 {
    font: bold 1.5em Georgia, serif;
    color: #000;
    text-align: center;
    padding: 20px 0;
}

h2 {
    font: 1.3em Georgia, serif;
    letter-spacing: 1px;
    color: #11719e;
}

h3 {
    font: 1.2em Georgia, serif;
    color: #444;
    padding: 6px 0;
    border-bottom: 1px dashed #d3d3d3;
}

h6 {
    font: .75em Helvetica, serif;
    color: #8c8c8c;
}

hr {
    border: none;
    border-top: 1px solid #e5e5e5;
}

.row {
    padding: 20px 0
}

.col {
    padding: 10px
}

article img {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 6px;
    background: #f3f3f3;
    width: 100%;
    margin: 16px 0
}

article p {
    font: .8em/1.5 Helvetica, serif;
    color: #3e3e3e;
    text-align: justify;
}

.btn1,
.btn2 {
    display: block;
    width: 160px;
    padding: 7px 10px;
    border-radius: 4px;
    text-align: left;
    margin: 1em 0;
}

.btn1 {
    border: 1px solid #d8d8d8;
    background: linear-gradient(to right, #e8e8e8, #f7f7f7, #e8e8e8, #eee);
    font: .75em Helvetica, sans-serif;
    color: #016999;
}

.btn2 {
    border: 1px solid #004a80;
    background: linear-gradient(to right, #356ca3, #4d83bb, #4072a5, #306193);
    font: .75em Georgia, serif;
    color: #fff;
}

.btn1 span,
.btn2 span {
    float: right
}

#icons2 {
    padding: 1em 0
}

#icons2 a {
    font-size: 3.1em;
    color: #aaa;
    width: 50px;
}

.fa-square-rss {
    color: rgb(255, 123, 0) !important
}

.fa-square-facebook {
    color: rgb(12, 68, 146) !important
}

.fa-linkedin {
    color: rgb(59, 202, 221) !important
}

.fa-square-youtube {
    color: rgb(210, 5, 5) !important
}

.fa-square-tumblr {
    color: rgb(0, 213, 255) !important
}

.col p {
    margin-top: 10px;
}

input {
    width: 296px;
    height: 33px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
}
textarea{
    width: 296px;
    height: 120px;
}
input,
textarea {
    display: inline-block;
    justify-content: center;
    margin-top: 15px;
    font-size: 10px;
    line-height: 14px;
    color: #d4d4d4;
    font-family: "Verdana";
}

.updates p {
    padding: 3px 0;
    margin-bottom: 5px;
    border-bottom: 1px dashed #d3d3d3;
    height: 57px;
    font-size: 12px;
    line-height: 14px;
    color: #444444;
    font-family: "Helvetica";
}

form img {
    float: left;
    margin-right: 7px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 5px solid #cfcfcf;
}

footer {
    height: 183px;
    background: #333;
    border-top: 10px solid #4c4c4c;
}

.finish {
    margin: 20px 170px;
    font-size: 11px;
    line-height: 10px;
    color: #999999;
    font-family: "Helvetica";
}
.txt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.finish p{
    margin-bottom:5px ;
}
.f-text1 li {
    margin:5px 2px 5px 0;
    display: inline-block;
}
.f-text2 li {
    margin:5px 2px 0 0;
    display: inline-block;
}
@media only screen and (min-width: 768px) {
    .container {
        max-width: 940px;
        margin: auto;
    }

    header {
        text-align: initial;
    }

    menu {
        float: right
    }

    menu li {
        display: inline-block;
        border-left: 1px dotted #d6d6d6
    }

    .row::after {
        display: table;
        content: '';
        clear: both;
    }

    .col {
        width: 33.33%;
        float: left
    }

}
